.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    text-align: center;
    color: white;
    background: url('../assets/porsh1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
}
.home-container h2{
    color: white;
    font-size: 2.5rem;
}
.home-container h3{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.typing {
    color: #149ddd;
    font-weight: bold;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}